.skillContainer {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    /* background: rgb(147,156,161);
    background: linear-gradient(90deg, rgba(147,156,161,1) 6%, rgba(49,66,73,1) 45%, rgba(5,9,10,0.9743731395307794) 78%); */
    background: rgb(238,247,255);
    background: linear-gradient(90deg, rgb(236, 240, 244) 0%, rgba(208, 238, 251, 0.974) 40%, rgba(165, 222, 247, 0.974) 78%);
}

.skills {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    animation: marquee 20s linear infinite;
}
.skills img{
    width: 5rem;
    height: 7rem;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-left: 4rem;
    background-color: white;
    color: rgb(10, 9, 9);
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}